<!DOCTYPE html>
<html>

<head>
  <title>LIST OF PLAYERS</title>
</head>
<center>

  <body>
    <% include ../partials/nav.ejs %>
    <h1>Players Data</h1>
    <table border="1">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Role</th>
        <th>Plays For</th>
        <th>ACTIONS</th>
      </tr>
      <tr>
        <% listPlayers.map(x => { %>
        <td><%= x.first_name%></td>
        <td><%= x.last_name%></td>
        <td><%= x.gender %></td>
        <td><%= x.email%></td>
        <td><%= x.role%></td>
        <% if (x.ClubId == null) { %>
        <% if(x.role !== 'Athlete') { %>
        <td>N / A</td>
        <% } else { %>
        <td>FREE AGENT</td>
        <% } %>
        <%  } else { %>
        <td><%= x.Club.club_name %></td>
        <%} %>
        <td>
          <a href="/players/editPlayers/<%= x.id %>">EDIT</a> |
          <a href="/players/deletePlayers/<%= x.id %>"
            onclick="return confirm('Are you sure you want to delete this player?');">DELETE</a>
        </td>
      </tr>
      <%})%>
    </table>
    <h2><a href="/players/register">Join the Fun!</a></h2>
  </body>
</center>

</html>